<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <!--GOOGLE-FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Bungee&family=Heebo:wght@300&family=Playfair+Display+SC&family=Righteous&family=Rubik&family=Staatliches&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Bungee&family=Heebo:wght@300&family=Nanum+Gothic+Coding&family=Playfair+Display+SC&family=Righteous&family=Rubik&family=Staatliches&family=Ubuntu&display=swap" rel="stylesheet">
    <!--AWESOME FONTS-->
    <script src="https://kit.fontawesome.com/c604c8b2c8.js" crossorigin="anonymous"></script> 
    <title>SCI FI</title>
</head>
<body>
    <!--NAV-->
    <div class="nav"></div>

    <!--HEADER-->
    <header>
        <div class="background">
            <div class="bubbles-container">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </div>
        </div>
    </header>


    <section class="main-content">
        <div class="title2"><h2>SCI FI <span class="culture">CULTURE</span><span class="about"> / ABOUT</span></h2></div>
            <div class="main-conten_header"></div>
            <div class="about-text">
                <p>Sci fi culture is a blog dedicated to spread the word about the impact that science fiction has made in the modern world and pop culture,affecting industries such as films,music,books,comics and all kinds of art.</p>
            </div>
    </section>

    <!--GAME-->
 
    <div class="game">
        <div class="satellite" id="dino"></div>
        <div class="satellite2" id="dino2"></div>
       
        <div class="quote">
        <q>
            We should strive to welcome change and challenges, because they are what help us grow. With out them we grow weak like the Eloi in comfort and security. We need to constantly be challenging ourselves in order to strengthen our character and increase our intelligence. 
            ― H.G. Wells, The Time Machine 
        </q>
       </div>
       <div class="planet"></div>
     </div>
   
    
    <!--FOOTER-->
    <footer></footer>


   <!--SCRIPTS-->
   <script src="/static/js/game.js"></script>
   <script src="/static/js/nav.js"></script>
   <script src="/static/js/footer.js"></script>
</body>
</html>