<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STYLES-->
    <link rel="stylesheet" href="/static/css/nav2.css">
    <link rel="stylesheet" href="/static/css/music.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <!--GOOGLE-FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Bungee&family=Heebo:wght@300&family=Playfair+Display+SC&family=Righteous&family=Rubik&family=Staatliches&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Bungee&family=Heebo:wght@300&family=Nanum+Gothic+Coding&family=Playfair+Display+SC&family=Righteous&family=Rubik&family=Staatliches&family=Ubuntu&display=swap" rel="stylesheet">
    <!--AWESOME FONTS-->
    <script src="https://kit.fontawesome.com/c604c8b2c8.js" crossorigin="anonymous"></script> 
    <title>SCI FI MUSIC</title>
</head>
<body>
    <!--NAV-->
    <div class="container-nav">
        <div class="nav"></div>
    </div>
    <header>
        <div class="header">
            <div class="header-content">
                <div class="header-content_title">
                    <h3>SCI FI <span>MUSIC</span></h3>
                </div>
                <div class="header-content_text">
                    <p>Synthwave (also called outrun, retrowave, or futuresynth) is an electronic music microgenre that is based predominantly on the music associated science-fiction, and horror film soundtracks of the 1980s. Other influences are drawn from the decade's art and video games.</p>
                </div>
            </div>
            <div class="header-img">
                <img src="/static/imgs/scifimusicwp.jpeg" alt="">
            </div>
        </div>
    </header>
    
    <!--section1-->
    <section class="scifi-records">
        <div class="scifi-records-container">
            <div class="scifi-records-img">
                <img src="/static/imgs/sfr1.jpeg" alt="">
            </div>
            <div class="scifi-records-content">
                <div class="scifi-records-content_title">
                    <h3>Themes for an Imaginary Film BY <span>Symmetry</span></h3>
                </div>
                <div class="scifi-records-content_text">
                    <p>RELEASE / 2011</p>
                </div>
            </div>

        </div>
        <div class="scifi-records-container">
            <div class="scifi-records-img">
                <img src="/static/imgs/sfr2.jpeg" alt="">
            </div>
            <div class="scifi-records-content">
                <div class="scifi-records-content_title">
                    <h3>Night Drive BY <span>Chromatics</span></h3>
                </div>
                <div class="scifi-records-content_text">
                    <p>RELEASE / 2007</p>
                </div>
            </div>

        </div>
        <div class="scifi-records-container">
            <div class="scifi-records-img">
                <img src="/static/imgs/sfr3.jpeg" alt="">
            </div>
            <div class="scifi-records-content">
                <div class="scifi-records-content_title">
                    <h3>Spectrums BY <span>Odonis Odonis</span></h3>
                </div>
                <div class="scifi-records-content_text">
                    <p>RELEASE / 2021</p>
                </div>
            </div>

        </div>

        <div class="scifi-records-container">
            <div class="scifi-records-img">
                <img src="/static/imgs/sfr4.jpg" alt="">
            </div>
            <div class="scifi-records-content">
                <div class="scifi-records-content_title">
                    <h3>Joyland BY <span>TR / ST</span></h3>
                </div>
                <div class="scifi-records-content_text">
                    <p>RELEASE / 2014</p>
                </div>
            </div>

        </div>

        <div class="scifi-records-container">
            <div class="scifi-records-img">
                <img src="/static/imgs/sfr5.jpeg" alt="">
            </div>
            <div class="scifi-records-content">
                <div class="scifi-records-content_title">
                    <h3>Station Nova BY <span> Waveshaper</span></h3>
                </div>
                <div class="scifi-records-content_text">
                    <p>RELEASE / 2016</p>
                </div>
            </div>

        </div>

        <div class="scifi-records-container">
            <div class="scifi-records-img">
                <img src="/static/imgs/sfr6.jpg" alt="">
            </div>
            <div class="scifi-records-content">
                <div class="scifi-records-content_title">
                    <h3>Wave 1 Film BY <span>Com Truise</span></h3>
                </div>
                <div class="scifi-records-content_text">
                    <p>RELEASE / 2014</p>
                </div>
            </div>

        </div>
        <div class="scifi-records-container">
            <div class="scifi-records-img">
                <img src="/static/imgs/sfr7.jpeg" alt="">
            </div>
            <div class="scifi-records-content">
                <div class="scifi-records-content_title">
                    <h3>AKUMA II BY <span>Tokyo Rose</span></h3>
                </div>
                <div class="scifi-records-content_text">
                    <p>RELEASE / 2019</p>
                </div>
            </div>

        </div>
        <div class="scifi-records-container">
            <div class="scifi-records-img">
                <img src="/static/imgs/sfr8.jpeg" alt="">
            </div>
            <div class="scifi-records-content">
                <div class="scifi-records-content_title">
                    <h3>West Coast Dreams BY <span>The Motion Epic</span></h3>
                </div>
                <div class="scifi-records-content_text">
                    <p>RELEASE / 2019</p>
                </div>
            </div>

        </div>
    </section>


    
     <footer></footer>

    <script src="/static/js/nav.js"></script>
    <script src="/static/js/intersection2.js"></script>
    <script src="/static/js/caroussel.js"></script>
    <script src="/static/js/footer.js"></script>
</body>
</html>