* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background: url('/static/imgs/loginsignupbg.jpeg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.background h2 {
    font-size: 5rem;
    color: seashell;
    margin: -100px 0 100px 0;
    transform-origin: center;
    -webkit-animation-name: h2animation;
            animation-name: h2animation;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    font-family:'Bungee', cursive;
}
.background h2 span {
    color: rgb(71, 145, 255);
    transition: 1s all ease;
}
.signup-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: linear-gradient(90deg, rgba(45, 96, 139, 0.584) 0%, rgba(94, 19, 165, 0.425) 50%, rgba(175, 122, 48, 0.615) 100%);
    padding: 40px;
    border-radius: 20px;
    -webkit-animation: hue-rotate 2s infinite ease-in-out;
            animation: hue-rotate 2s infinite ease-in-out;
}
form .input-box {
    margin-bottom: 1rem;

}
form .input-box input {
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    background: transparent;
    outline: rgb(71, 212, 255);
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(71, 135, 255);
    color: seashell;
    padding-left: 5px;
}
form .input-box input::-webkit-input-placeholder {
    color: seashell;
    opacity: .5;
}
form .input-box input::-moz-placeholder {
    color: seashell;
    opacity: .5;
}
form .input-box input:-ms-input-placeholder {
    color: seashell;
    opacity: .5;
}
form .input-box input::-ms-input-placeholder {
    color: seashell;
    opacity: .5;
}
form .input-box input::placeholder {
    color: seashell;
    opacity: .5;
}
.checkbox {
    display: flex;
    align-items: center;
}
.checkbox label {
    margin-left: 5px;
}
.input-box-btn {
     text-align: center;
     margin-top: 20px;
}
.input-box-btn input {
    width: 100%;
    padding: .5rem 0;
    border: 1px solid rgb(24, 69, 151);
    background: transparent;
    border-radius: 5px;
    font-size: 1.5rem;
    color: rgb(199, 198, 198);
    transition: 1s all ease;
}

.input-box-btn input:hover{
   background:rgb(24, 69, 151) ;
   color: seashell;
   letter-spacing: 4px;
}


@-webkit-keyframes h2animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes h2animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes hue-rotate {
    0%{
        -webkit-filter: hue-rotate(90deg);
                filter: hue-rotate(90deg);
    }
    50% {
        -webkit-filter: hue-rotate(180deg);
                filter: hue-rotate(180deg);
    }
    70% {
        -webkit-filter: hue-rotate(220deg);
                filter: hue-rotate(220deg);
    }
    100% {
        -webkit-filter: hue-rotate(100deg);
                filter: hue-rotate(100deg);
    }
}

@keyframes hue-rotate {
    0%{
        -webkit-filter: hue-rotate(90deg);
                filter: hue-rotate(90deg);
    }
    50% {
        -webkit-filter: hue-rotate(180deg);
                filter: hue-rotate(180deg);
    }
    70% {
        -webkit-filter: hue-rotate(220deg);
                filter: hue-rotate(220deg);
    }
    100% {
        -webkit-filter: hue-rotate(100deg);
                filter: hue-rotate(100deg);
    }
}

@media screen and (max-width:400px){
    .signup-container {
        padding: 20px;
    }
    form .input-box input {
        width: 180px;
    }
    .input-box-btn input {
        width: 180px;
    }
    .background h2 {
        font-size: 4rem;
    }

}