* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    background: url('/static/imgs/loginsignupbg.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.background h2 {
    color: rgb(214, 214, 208);
    font-family:'Bungee', cursive;
    font-size: 7vmin;
    text-align: center;
}
.background h2 span {
    color: rgb(74, 123, 168);
}

.containerfather {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-container {
    background: linear-gradient(90deg, rgba(45, 96, 139, 0.584) 0%, rgba(94, 19, 165, 0.425) 50%, rgba(175, 122, 48, 0.615) 100%);
    padding: 40px;
    margin-top: 50px;
    border-radius: 20px;
    -webkit-animation: hue-rotate 2s infinite ease-in-out;
            animation: hue-rotate 2s infinite ease-in-out;

    
}

.input-box input {
    border-radius: 5px;
    border: none;
    background: transparent;
    outline: rgb(71, 212, 255);
    border-bottom: 2px solid rgb(71, 135, 255);
    color: seashell;
    margin-bottom: 20px;
    padding: 0 0 10px 10px;
}


.input-box-btn input {
    width: 100%;
    border: 1px solid rgb(24, 69, 151);
    background: transparent;
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(199, 198, 198);
    transition: 1s all ease;
    padding: 10px 0;
}
.input-box-btn input:hover{
    background:rgb(24, 69, 151) ;
    color: seashell;
    letter-spacing: 4px;
 }




@-webkit-keyframes h2animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes h2animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes hue-rotate {
    0%{
        -webkit-filter: hue-rotate(90deg);
                filter: hue-rotate(90deg);
    }
    50% {
        -webkit-filter: hue-rotate(180deg);
                filter: hue-rotate(180deg);
    }
    70% {
        -webkit-filter: hue-rotate(220deg);
                filter: hue-rotate(220deg);
    }
    100% {
        -webkit-filter: hue-rotate(100deg);
                filter: hue-rotate(100deg);
    }
}

@keyframes hue-rotate {
    0%{
        -webkit-filter: hue-rotate(90deg);
                filter: hue-rotate(90deg);
    }
    50% {
        -webkit-filter: hue-rotate(180deg);
                filter: hue-rotate(180deg);
    }
    70% {
        -webkit-filter: hue-rotate(220deg);
                filter: hue-rotate(220deg);
    }
    100% {
        -webkit-filter: hue-rotate(100deg);
                filter: hue-rotate(100deg);
    }
}


@media screen and (max-width:350px) {
    .signup-container {
        padding: 20px;
    }
}